.header {
    font-family: arial;
    margin: 0;
    padding: 0;
    position: relative;
}
.dropdown {
    display:inline-block;
}
.dropdown .drop-btn {
    position: absolute;
   
}
.drop-list a{
    display:none;
}